/* =======================================
   RIFA GILSIGNS
   Tema Azul e Rosa
======================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --azul:#1976D2;
    --azulClaro:#42A5F5;

    --rosa:#EC4899;
    --rosaClaro:#F472B6;

    --verde:#22C55E;

    --amarelo:#FACC15;

    --vermelho:#EF4444;

    --cinza:#F5F5F5;

    --escuro:#333333;

    --branco:#FFFFFF;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Poppins',sans-serif;

    background:linear-gradient(
    135deg,
    var(--azul),
    var(--rosa)
    );

    min-height:100vh;

    color:white;

}
